<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <RollingFile name="AppLog"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %-5p [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="HibernateLog"
                     fileName="logs/hibernate.log"
                     filePattern="logs/hibernate-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %-5p [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="HibernateLog"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="AppLog"/>
        </Root>
    </Loggers>
</Configuration>
